<header class="header">
    <div class="grid">
        <!--HEADER CUSTOMER-->
        <div class="row no-gutters header-custom site-header-top">
            <div class="c-5 header-society__wrap">
                <div class="header-society__icon">
                    <ul class="header-society__icon-list">
                        <li class="header-society__icon-item">
                            <a href="" class="header-society__icon-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="header-society__icon-item">
                            <a href="" class="header-society__icon-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="header-society__icon-item">
                            <a href="" class="header-society__icon-link">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-contact__phone">
                    <span class="header-contact__article">
                        LIÊN HỆ :
                    </span>
                    <a href="tel:0975 794 900" class="header-contact__phone-link">0975 794 900</a>
                </div>
            </div>
            <div class="c-7">
                <div class="header-customer__nav row no-gutters">
                    <div class="header-customer__wrap col-sm-6">
                        <ul class="header-customer__list">
                            <li class="header-customer__item">
                                <a href="" class="header-customer__link hover-color-text">TÀI KHOẢN</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="header-customer__list col-sm-1">
                        <li class="header-customer__item">
                            <a href="" class="header-customer__link--text-B">LOGIN</a>
                        </li>
                    </ul>
                    <ul class="header-customer__list col-sm-1">
                        <li class="header-customer__item">
                            <a href="" class="header-customer__link--text-B">HỖ TRỢ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--HEADER TOOLS-->
        <div class="row no-gutters header-tools">
            <div class="c-2 col-md-2 col-sm-2">
                <div class="header-logo">
                    <span class="header-logo__wrap">
                        <a href="/" id="logo" class="header-logo__link">
                            <img src="/image/Home/logoApus.jpg" alt="" class="header-logo__img">
                        </a>
                        <div id="infoCard" class="header-logo__info-card">
                            <div class="custom">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="header-logo__info-card-wrap">
                                            <img src="/image/Home/logoApus.jpg" alt="" class="header-logo__info-card-img" title="Cửa hàng bán bài Tarot chính hãng tại Hà Nội">
                                            <p class="header-logo__info-card-text">
                                                APUS TAROT là shop bán bài Tarot, Oracle, Lenormand chính hãng tại Hà Nội
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="header-logo__info-card-contact">
                                            <p class="header-logo__info-card-phone">
                                                <strong>0975 79 4900</strong>
                                                <br>Email:&nbsp;
                                                <a href="mailto:info@apustarot.com" class="header-logo__info-card-mail">info@apustarot.com</a>
                                            </p>
                                            <p class="header-logo__info-card-details">
                                                APUS TAROT
                                                <br>
                                                Số 32 Ngách 31 Ngõ 14 Pháo Đài Láng, Láng Thượng, Đống Đa, Hà Nội
                                            </p>
                                            <a href="" class="header-logo__location-link">
                                                <i class="fas fa-map-marker-alt header-logo__location-icon"></i>
                                                <span class="header-logo__location-text">Mở trong Google Maps</span>
                                            </a>
                                            <div class="header-logo__society">
                                                <ul class="header-logo__society-list">
                                                    <li class="header-logo__society-item">
                                                        <i class="header-logo__society-icon fab fa-facebook-f"></i>
                                                    </li>
                                                    <li class="header-logo__society-item">
                                                        <i class="header-logo__society-icon fab fa-instagram"></i>
                                                    </li>
                                                    <li class="header-logo__society-item">
                                                        <i class="header-logo__society-icon fab fa-pinterest-p"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="c-8 col-md-8 col-sm-8">
                <div class="header-search">
                    <div class="header-search__wrap">
                        <form action="" id="searchform" class="header-search__form" method="get">
                            <span><i class="fas fa-search header-search__icon"></i></span>
                            <input value="" type="text" class="header-search__input" placeholder="SEARCH...">
                            <div class="header-search__history">
                                <ul class="header-search__history-list">
                                    <li class="header-search__history-item">
                                        <a class="header-search__history-link">
                                            <span>Manhua</span>
                                        </a>
                                    </li>
                                    <li class="header-search__history-item">
                                        <a class="header-search__history-link">
                                            <span>Tarot</span>
                                            </a>
                                    </li>
                                    <li class="header-search__history-item">
                                        <a class="header-search__history-link">
                                            <span>Oracle</span>
                                            </a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="c-2 col-xs-2 col-sm-2">
                <div class="header-cart">
                    <div class="header-cart__wrap">
                        <a class="header-cart__link">
                            <img src="/image/Home/shopping-bag.png" alt="" class="header-cart__icon">
                        </a>
                        <span class="header-cart__notice">
                            0
                        </span>
                        <div class="header-cart__list">
                            <!--NO CART-->
                            <div class="header-cart__list--no-cart">
                                <span>
                                    Không có sản phẩm nào trong giỏ hàng
                                </span>
                            </div>
                            <!--HAS CART-->
                            <div class="header-cart__list--has-cart">
                                <ul class="header-cart__list-item">
                                    <li class="header-cart__item">
                                        <a href="" class="header-cart__item-img">
                                            <img src="/image/ImageHome/startseed-oracle.jpeg" alt="" class="header-cart__img">
                                        </a>
                                        <div class="header-cart__item-info">
                                            <a href="" class="header-cart__item-name">
                                                Starseed Oracle
                                            </a>
                                            <div class="header-cart__item-detail">
                                                <span class="header-cart__item-quantity">1</span>
                                                <span class="header-cart__item-multiply">×</span>
                                                <span class="header-cart__item-price">750.000₫</span>
                                            </div>
                                        </div>
                                        <div class="header-cart__item-delete">
                                            <span class="header-cart__delete-icon">x</span>
                                        </div>
                                    </li>
                                    <li class="header-cart__item">
                                        <a href="" class="header-cart__item-img">
                                            <img src="/image/ImageHome/startseed-oracle.jpeg" alt="" class="header-cart__img">
                                        </a>
                                        <div class="header-cart__item-info">
                                            <a href="" class="header-cart__item-name">
                                                Starseed Oracle
                                            </a>
                                            <div class="header-cart__item-detail">
                                                <span class="header-cart__item-quantity">1</span>
                                                <span class="header-cart__item-multiply">×</span>
                                                <span class="header-cart__item-price">750.000₫</span>
                                            </div>
                                        </div>
                                        <div class="header-cart__item-delete">
                                            <span class="header-cart__delete-icon">x</span>
                                        </div>
                                    </li>
                                    <li class="header-cart__item">
                                        <a href="" class="header-cart__item-img">
                                            <img src="/image/ImageHome/startseed-oracle.jpeg" alt="" class="header-cart__img">
                                        </a>
                                        <div class="header-cart__item-info">
                                            <a href="" class="header-cart__item-name">
                                                Starseed Oracle
                                            </a>
                                            <div class="header-cart__item-detail">
                                                <span class="header-cart__item-quantity">1</span>
                                                <span class="header-cart__item-multiply">×</span>
                                                <span class="header-cart__item-price">750.000₫</span>
                                            </div>
                                        </div>
                                        <div class="header-cart__item-delete">
                                            <span class="header-cart__delete-icon">x</span>
                                        </div>
                                    </li>
                                    <li class="header-cart__item">
                                        <a href="" class="header-cart__item-img">
                                            <img src="/image/ImageHome/startseed-oracle.jpeg" alt="" class="header-cart__img">
                                        </a>
                                        <div class="header-cart__item-info">
                                            <a href="" class="header-cart__item-name">
                                                Starseed Oracle
                                            </a>
                                            <div class="header-cart__item-detail">
                                                <span class="header-cart__item-quantity">1</span>
                                                <span class="header-cart__item-multiply">×</span>
                                                <span class="header-cart__item-price">750.000₫</span>
                                            </div>
                                        </div>
                                        <div class="header-cart__item-delete">
                                            <span class="header-cart__delete-icon">x</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="header-cart__pay">
                                    <span class="header-cart__total-text">Tổng Tiền:</span>
                                    <span class="header-cart__total-price">750.000₫</span>
                                </div>
                                <div class="header-cart__function">
                                    <a href="" class="header-cart__view">
                                        View Cart
                                    </a>
                                    <a href="" class="header-cart__checkout">
                                        CheckOut
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--HEADER NAVBAR MENU-->
        <div class="row site-header-top header-navbar-menu">
            <div class="c-12">
                <div class="header-menu__wrap">
                    <ul class="header-menu__list">
                        {{#each category}}
                        {{#if this.child}}
                        <li class="header-menu__item">
                            <a href="/product-category/{{this.id}}" class="header-menu__link">{{this.name}}</a>
                        </li>
                        {{else}}
                        <li class="header-menu__item">
                            <a href="/product-category/{{this.id}}" class="header-menu__link has-menu-child">{{this.name}}</a>
                            <ul class="header-menu-child__list" id="haschild">
                            </ul>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>