<div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Chào Mừng Đến Với Trang Quản Trị</h1>
        <p class="mb-0">Xin chào {{username}}!</p>
      </div>
    </div>

    <section class="statistics mt-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle fas fa-archive"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="home__data-text mb-0">{{productSaleSum}}</h3>
              </div>
              <p class="fs-normal home__text-note mb-0">Tổng Số Sản Phẩm Đã Bán</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-file fs-2 text-center bg-danger rounded-circle fas fa-dollar-sign"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="home__data-text mb-0">{{moneySum}}</h3>
              </div>
              <p class="fs-normal home__text-note mb-0">Doanh Thu</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center p-3">
            <i class="uil-users-alt fs-2 text-center bg-success rounded-circle fas fa-user"></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="home__data-text mb-0">{{userSum}}</h3>
              </div>
              <p class="fs-normal home__text-note mb-0">Số Người Dùng Đăng Ký</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="charts mt-4">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thống Kê Đơn Hàng Theo Tháng</h4>
                        <div id="morris-bar-chart"></div>
                    </div>
                </div>
                
            </div>    
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body px-0">
                        <h4 class="card-title px-4 mb-3">Việc Cần Làm</h4>
                        <div class="todo-list">
                            <div class="tdl-holder">
                                <div class="tdl-content">
                                    <ul id="todo_list">
                                        <li><label><input type="checkbox"><i></i><span>Thống Kê Lương</span><a href='#' class="ti-trash"></a></label></li>
                                        <li><label><input type="checkbox" checked><i></i><span>Gửi Đơn Mã 483</span><a href='#' class="ti-trash"></a></label></li>
                                    </ul>
                                </div>
                                <div class="px-4">
                                    <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="admins mt-4">
      <div class="row">
        <div class="col-md-11">
          <div class="box">
            <!-- <h4>Admins:</h4> -->
            {{#each userRole}}
            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
              <div class="img">
                <img class="rounded-pill"
                    width="80" height="80"
                    src="/image/Customer/{{this.image}}"
                    alt="{{this.role}}">
              </div>
              <div class="ms-3 ml-3">
                <h3 class="fs-5 mb-1 text_admin-name">{{this.name}}</h3>
                <span class="mb-0 text_admin-role"><span class="mr-2">Chức Danh :</span>{{this.role}} | <span class="mr-2">Số điện thoại liên hệ :</span> {{this.phone}}</span>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>

    <section class="statis text-center">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="box bg-primary p-3">
            <i class="uil-eye"></i>
            <h3>{{productSum}}</h3>
            <p class="lead">SẢN PHẨM ĐANG CÓ</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="box bg-danger p-3">
            <i class="uil-user"></i>
            <h3>{{orderCancel}}</h3>
            <p class="lead">ĐƠN ĐÃ HỦY </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <div class="box bg-warning p-3">
            <i class="uil-shopping-cart"></i>
            <h3>{{orderSale}}</h3>
            <p class="lead">ĐƠN HÀNG ĐÃ BÁN</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box bg-success p-3">
            <i class="uil-feedback"></i>
            <h3>5</h3>
            <p class="lead">BÀI VIẾT ĐÃ ĐĂNG</p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  <script src="/javascript/chart.js"></script>