<main class="main">
    <div class="navsub-header">
        <div class="navsub-header__wrapper">
            <div class="navsub-header__box">
                <div class="grid wide">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="navsub-header__list">
                                <li class="navsub-header__item">
                                    <a href="" class="navsub-header__link">HOME</a>
                                </li>
                                <li class="navsub-header__item">
                                    <span class="navsub-header__content">BLOG</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="grid wide">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-md-pull-9">
                    <div class="side-bar">
                        <div class="product-search">
                            <h3 class="side__heading">TÌM KIẾM</h3>
                            <div class="product-search__tool">
                                <form action="/blog/search" method="get" class="product-search__form">
                                    <input type="text" name="titlepost" class="product-search__input" placeholder="Tìm Kiếm Bài Viết...">
                                    <button id="searchBlog" type="submit" value="Search" class="product-search__btn">
                                        <i class="fas fa-search product-search__icon"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 col-md-push-3">
                    <div class="post__wrapper">
                        {{#each post}}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="post__item">
                                <div class="post__item-wrapper">
                                    <h3 class="post__item-title">
                                        <a href="/post/{{this.id}}" class="post__item-title--link">
                                            {{this.title}}
                                        </a>
                                    </h3>
                                </div>
                                <div class="post__item-header">
                                    <div class="post__item-details">
                                        <div class="post__item-author-avatar">
                                            <img src="/image/Customer/{{this.imageuser}}" alt="" class="post__item-author-img">
                                        </div>
                                        <div class="post__item-author">
                                            <a href="/post/{{this.id}}" class="post__item-author-name">{{this.username}}</a>
                                        </div>
                                        <div class="post__item-meta">
                                            <span class="post__item-date">{{this.datecreate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post__item-content--hidden">{{this.content}}</div>
                                <div class="post__item-body row">
                                    {{#if this.avatar}}
                                    <div class="col-md-8">
                                        <div class="post__item-image">
                                            <a href="/post/{{this.id}}" class="post__item-image--link">
                                                <img src="/image/Post/{{this.avatar}}" alt="" class="post__item-image--img">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="post__item-content"></div>
                                        <div class="post__item-content-more">
                                            <a href="/post/{{this.id}}" class="post__item-content-more-btn" title="READ MORE">
                                                <svg width="59px" height="57px" viewBox="0 0 59 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path d="M23,35 C23.5522847,35 24,35.4477153 24,36 C24,36.5522847 23.5522847,37 23,37 C22.4477153,37 22,36.5522847 22,36 C22,35.4477153 22.4477153,35 23,35 L23,35 Z M28,36 C28,36.5522847 27.5522847,37 27,37 C26.4477153,37 26,36.5522847 26,36 C26,35.4477153 26.4477153,35 27,35 C27.5522847,35 28,35.4477153 28,36 L28,36 Z M31,35 C31.5522847,35 32,35.4477153 32,36 C32,36.5522847 31.5522847,37 31,37 C30.4477153,37 30,36.5522847 30,36 C30,35.4477153 30.4477153,35 31,35 L31,35 Z" id="dots" fill="#333333"></path>
                                                    <rect id="Rectangle-2" fill="#333333" x="22" y="21" width="16" height="2" class="svg-more-l1"></rect>
                                                    <rect id="Rectangle-2" fill="#333333" x="22" y="25" width="10" height="2" class="svg-more-l2"></rect>
                                                    <rect id="Rectangle-2" fill="#333333" x="22" y="29" width="16" height="2" class="svg-more-l3"></rect>
                                                    <rect id="stroke" stroke="#333333" stroke-width="2" x="4" y="4" width="51" height="49" rx="5" fill="none" class="svg-more-bg"></rect>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="col-md-12">
                                        <div class="post__item-content"></div>
                                        <div class="post__item-content-more">
                                            <a href="/post/{{this.id}}" class="post__item-content-more-btn" title="READ MORE">
                                                <svg width="59px" height="57px" viewBox="0 0 59 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path d="M23,35 C23.5522847,35 24,35.4477153 24,36 C24,36.5522847 23.5522847,37 23,37 C22.4477153,37 22,36.5522847 22,36 C22,35.4477153 22.4477153,35 23,35 L23,35 Z M28,36 C28,36.5522847 27.5522847,37 27,37 C26.4477153,37 26,36.5522847 26,36 C26,35.4477153 26.4477153,35 27,35 C27.5522847,35 28,35.4477153 28,36 L28,36 Z M31,35 C31.5522847,35 32,35.4477153 32,36 C32,36.5522847 31.5522847,37 31,37 C30.4477153,37 30,36.5522847 30,36 C30,35.4477153 30.4477153,35 31,35 L31,35 Z" id="dots" fill="#333333"></path>
                                                    <rect id="Rectangle-2" fill="#333333" x="22" y="21" width="16" height="2" class="svg-more-l1"></rect>
                                                    <rect id="Rectangle-2" fill="#333333" x="22" y="25" width="10" height="2" class="svg-more-l2"></rect>
                                                    <rect id="Rectangle-2" fill="#333333" x="22" y="29" width="16" height="2" class="svg-more-l3"></rect>
                                                    <rect id="stroke" stroke="#333333" stroke-width="2" x="4" y="4" width="51" height="49" rx="5" fill="none" class="svg-more-bg"></rect>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-sm-12 page">
                        <nav> 
                            <ul class="pagination home-product__pagination" id="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>