{{> slide}}
<main class="main">
    <div class="grid">
        <section class="main-content">
            <div class="main-content__wrap">
                <div class="row main-content__box">
                    <div class="col-md-4 col-sm-4">
                        <div class="main-inner__wrap" style="background-image: url(image/Home/tarot_preview.jpg);">
                            <div class="main-inner__content">
                                <div class="main-inner__img-box">
                                    <a href="/product-category/3" class="main-inner__img-link">
                                        <h3 class="main-inner__content-title">
                                            <span>BÀI TAROT</span>
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="main-inner__wrap" style="background-image: url(image/Home/oracle-preview.jpg);">
                            <div class="main-inner__content">
                                <div class="main-inner__img-box">
                                    <a href="/product-category/4" class="main-inner__img-link">
                                        <h3 class="main-inner__content-title">
                                            <span>ORACLE & LENORMAND</span>
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="main-inner__wrap" style="background-image: url(image/Home/tarot-box.jpg);">
                            <div class="main-inner__content">
                                <div class="main-inner__img-box">
                                    <a href="/product-category/6" class="main-inner__img-link">
                                        <h3 class="main-inner__content-title">
                                            <span>PHỤ KIỆN TAROT</span>
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-product">
            <div class="main-product__wrap">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-product__background">
                            <div class="main-product__heading">
                                <h3 class="main-product__title">
                                    BỘ BÀI MỚI NHẤT
                                </h3>
                            </div>
                            <ul class="row main-product__list-item capture-list-item" id="NewProduct">
                                {{#each productDate}}
                                <li class="col-md-3 col-sm-2 main-product__item c-3-4">
                                    <div class="main-product__box-item">
                                        <a href="/detail/{{this.id}}" class="main-product__link">
                                            <img src="image/Product/{{this.image}}" alt="" class="main-product__image">
                                            <p class="main-product__name">{{this.name}}</p>
                                            <div class="main-product__detail main-product__has-new">
                                                {{#if this.newprice}}
                                                <span class="main-product__old-price">{{this.price}}</span>
                                                <span class="main-product__new-price">{{this.newprice}}</span>
                                                {{else}}
                                                <span class="main-product__new-price">{{this.price}}</span>
                                                {{/if}}
                                            </div>
                                        </a>
                                        <div class="main-product__buttons">
                                            <span class="main-product__button-text addCart" id="addCart">ADD TO CART</span>
                                            <span class="main-product__button-text MoreInfo">MORE INFO</span>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                            <div class="main-product__controls">
                                <span class="main-product__left">
                                    <i class="fas fa-angle-left main-product__arrow"></i>
                                </span>
                                <span class="main-product__right">
                                    <i class="fas fa-angle-right main-product__arrow"></i>
                                </span>
                            </div>
                        </div>
                        <div class="main-product__background">
                            <div class="main-product__heading">
                                <h3 class="main-product__title">
                                    BỘ BÀI NỔI BẬT
                                </h3>
                            </div>
                            <ul class="row main-product__list-item" id="CaptureProduct">
                                <li class="col-md-3 col-sm-2 main-product__item c-3-4">
                                    <div class="main-product__box-item">
                                        <a href="" class="main-product__link">
                                            <img src="image/ImageHome/Manhua-Tarot.jpg" alt="" class="main-product__image">
                                            <p class="main-product__name">Manhua Tarot</p>
                                            <div class="main-product__detail main-product__has-new">
                                                <span class="main-product__old-price">750.000₫</span>
                                                <span class="main-product__new-price">599.000₫</span>
                                            </div>
                                        </a>
                                        <div class="main-product__buttons">
                                            <span class="main-product__button-text addCart" id="addCart">ADD TO CART</span>
                                            <span class="main-product__button-text MoreInfo">MORE INFO</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3 col-sm-2 main-product__item c-3-4">
                                    <div class="main-product__box-item">
                                        <a href="" class="main-product__link">
                                            <img src="https://apustarotshop.com/wp-content/uploads/2020/09/starspinnertarot-300x300.jpg" alt="" class="main-product__image">
                                            <p class="main-product__name">Star Spinner Tarot</p>
                                            <div class="main-product__detail">
                                                <span class="main-product__old-price"></span>
                                                <span class="main-product__new-price">600.000₫</span>
                                            </div>
                                        </a>
                                        <div class="main-product__buttons">
                                            <span class="main-product__button-text addCart" id="addCart">ADD TO CART</span>
                                            <span class="main-product__button-text MoreInfo">MORE INFO</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3 col-sm-2 main-product__item c-3-4">
                                    <div class="main-product__box-item">
                                        <a href="" class="main-product__link">
                                            <img src="image/ImageHome/Witchling-Academy-Tarot.jpg" alt="" class="main-product__image">
                                            <p class="main-product__name">Witchling Academy Tarot</p>
                                            <div class="main-product__detail main-product__has-new">
                                                <span class="main-product__old-price">900.000₫</span>
                                                <span class="main-product__new-price">800.000₫</span>
                                            </div>
                                        </a>
                                        <div class="main-product__buttons">
                                            <span class="main-product__button-text addCart" id="addCart">ADD TO CART</span>
                                            <span class="main-product__button-text MoreInfo">MORE INFO</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3 col-sm-2 main-product__item c-3-4">
                                    <div class="main-product__box-item">
                                        <a href="" class="main-product__link">
                                            <img src="image/ImageHome/Nightmare-Before-Christmas-Tarot.jpg" alt="" class="main-product__image">
                                            <p class="main-product__name">Nightmare Before Christmas Tarot</p>
                                            <div class="main-product__detail">
                                                <span class="main-product__old-price"></span>
                                                <span class="main-product__new-price">499.000₫</span>
                                            </div>    
                                        </a>
                                        <div class="main-product__buttons">
                                            <span class="main-product__button-text addCart" id="addCart">ADD TO CART</span>
                                            <span class="main-product__button-text MoreInfo">MORE INFO</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-product__background">
                            <div class="row main-product__order">
                                <div class="col-md-6 col-sm-6">
                                    <div class="main-product__order-container">
                                        <div class="row main-product__order-content">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="main-product__order-title">
                                                    <h3 class="main-product__order-heading">PRE - ORDER</h3>
                                                    <h4 class="main-product__order-text">Bộ Light Seer's Tarot của tác giả Pixie Curio sẽ ra mắt vào tháng 12 năm 2019. 
                                                        Dự kiến sẽ có mặt tại APUS vào tầm 24-30/12/2019
                                                    </h4>
                                                </div>
                                                <div class="main-product__order-purchase">
                                                    <span class="main-product__order-button">ĐẶT TRƯỚC</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 main-product__order-image">
                                    <div class="main-product__image-container">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 main-product__image-wrapper">
                                                <img src="image/Home/lightseertarot-1.jpg" alt="" class="main-product__image-img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-product__layer-wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-product__background">
                            <div class="row main-product__review">
                                <div class="col-md-8 col-sm-12" style="padding: 0 8px !important;">
                                    <div class="main-product__review-container">
                                        <div class="main-product__review-wrapper">
                                            <img src="image/Home/CosmosSecondEdition_02.jpg" alt="" class="main-product__review-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="main-product__review-text-container">
                                        <div class="row main-product__review-text-content">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="main-product__review-title">
                                                    <h3 class="main-product__review-heading">REVIEW COSMOS</h3>
                                                    <h4 class="main-product__review-text">COSMOS là một bộ bài mang tính trừu tượng cao, 
                                                        đòi hỏi sự cảm nhận sâu sắc của Reader
                                                    </h4>
                                                </div>
                                                <div class="main-product__review-read-more">
                                                    <span class="main-product__review-button">ĐỌC THÊM</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-introduction">
            <div class="main-introduction__background">
                <div class="main-introduction__background-image" style="background-image: url(image/Slide/backgroundApus.jpg);">
                    <div class="grid" style="position: absolute; top: 11%;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="grid wide">
                                    <div class="main-introduction__box">
                                        <div class="main-introduction__content">
                                            <h3 class="main-introduction__title">
                                                SHOP TAROT CHÍNH HÃNG UY TÍN TẠI HÀ NỘI
                                            </h3>
                                            <h4 class="main-introduction__subtitle">
                                                Đến với Apus Tarot shop, bạn sẽ được thoải mái lựa chọn bộ bài mình yêu thích 
                                                và nhận được sự tư vấn nhiệt tình từ chủ shop - cũng là một Tarot Reader. <br>
                                                Bài về hàng tuần, cập nhận liên tục trên Page và Website
                                            </h4>
                                        </div>
                                        <div class="main-introduction__select">
                                            <span class="main-introduction__button">CHỌN BÀI</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-service">
            <div class="grid wide">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="main-service__feedback-wrapper">
                            <div class="main-service__feedback-box">
                                <div class="main-service__feedback-heading">
                                    <h3 class="main-service__feedback-title">
                                        ĐÁNH GIÁ KHÁCH HÀNG
                                    </h3>
                                </div>
                            </div>
                            <div class="main-service__feedback-slide autoplay">
                                <div class="main-service__feedback-item">
                                    <blockquote class="main-service__feedback-content">
                                        Tình cờ biết shop qua giới thiệu của một người bạn để đặt bộ Marigold Tarot. 
                                        Chủ shop rất vui vẻ nhiệt tình và thân thiện. Nghe nói bộ đó cũng là bộ Marigold cuối cùng ở shop nên cảm giác càng tuyệt hơn nữa. 
                                        Nhất định nếu có mua sẽ chọn shop làm lựa chọn cân nhắc đầu tiên.
                                    </blockquote>
                                    <div class="main-service__feedback-cus">
                                        <div class="main-service__feedback-image">
                                            <img src="image/Customer/tu-4-1589603781715.jpg" alt="Image Customer" class="main-service__feedback-img" style="width: 40px; height: 40px;">
                                        </div>
                                        <div class="main-service__feedback-name">
                                            <h5>Dương Tử</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-service__feedback-item">
                                    <blockquote class="main-service__feedback-content">
                                        This shop is worth finding. Loads of really cool decks and gorgeous handmade wooden card boxes. 
                                        The owner was incredibly helpful and her English was fantastic.
                                    </blockquote>
                                    <div class="main-service__feedback-cus">
                                        <div class="main-service__feedback-image">
                                            <img src="image/Customer/tieu-su-trieu-le-dinh-11.jpg" alt="Image Customer" class="main-service__feedback-img" style="width: 40px; height: 40px;">
                                        </div>
                                        <div class="main-service__feedback-name">
                                            <h5>Triệu Lệ Dĩnh</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-service__feedback-item">
                                    <blockquote class="main-service__feedback-content">
                                        Rất vui việc chủ shop nhiệt tình tư vấn, order, chăm sóc và luôn vui vẻ với tôi và những lá bài .
                                        :* Chả biết nói gì, chỉ biết là nhận bài xong cảm giác vui đáo để, vui hơn khi có bộ đã bị out of date giờ vừa có thông tin tái bản lại đặt luôn cho mình.
                                        Cảm ơn shop và ủng hộ shop nhiều :*
                                    </blockquote>
                                    <div class="main-service__feedback-cus">
                                        <div class="main-service__feedback-image">
                                            <img src="image/Customer/tải xuống.jpg" alt="Image Customer" class="main-service__feedback-img" style="width: 40px; height: 40px;">
                                        </div>
                                        <div class="main-service__feedback-name">
                                            <h5>Hoắc Kiến Hoa</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-service__feedback-item">
                                    <blockquote class="main-service__feedback-content">
                                        Tình cờ biết shop qua giới thiệu của một người bạn để đặt bộ Marigold Tarot. 
                                        Chủ shop rất vui vẻ nhiệt tình và thân thiện. Nghe nói bộ đó cũng là bộ Marigold cuối cùng ở shop nên cảm giác càng tuyệt hơn nữa. 
                                        Nhất định nếu có mua sẽ chọn shop làm lựa chọn cân nhắc đầu tiên.
                                    </blockquote>
                                    <div class="main-service__feedback-cus">
                                        <div class="main-service__feedback-image">
                                            <img src="image/Customer/tu-4-1589603781715.jpg" alt="Image Customer" class="main-service__feedback-img" style="width: 40px; height: 40px;">
                                        </div>
                                        <div class="main-service__feedback-name">
                                            <h5>Dương Tử</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-service__feedback-item">
                                    <blockquote class="main-service__feedback-content">
                                        Tình cờ biết shop qua giới thiệu của một người bạn để đặt bộ Marigold Tarot. 
                                        Chủ shop rất vui vẻ nhiệt tình và thân thiện. Nghe nói bộ đó cũng là bộ Marigold cuối cùng ở shop nên cảm giác càng tuyệt hơn nữa. 
                                        Nhất định nếu có mua sẽ chọn shop làm lựa chọn cân nhắc đầu tiên.
                                    </blockquote>
                                    <div class="main-service__feedback-cus">
                                        <div class="main-service__feedback-image">
                                            <img src="image/Customer/tu-4-1589603781715.jpg" alt="Image Customer" class="main-service__feedback-img" style="width: 40px; height: 40px;">
                                        </div>
                                        <div class="main-service__feedback-name">
                                            <h5>Dương Tử</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="main-service__register-wrapper">
                            <div class="main-service__register-box">
                                <div class="main-service__register-heading">
                                    <h3 class="main-service__register-title">
                                        ĐĂNG KÝ KHÓA HỌC TAROT
                                    </h3>
                                    <h4 class="main-service__register-content">
                                        Đối với các bạn mới tập đọc Tarot chưa biết bắt đầu học từ đâu, Apus liên tục khai giảng các lớp học Tarot căn bản hàng tuần. 
                                        Đến với lớp học này, các bạn sẽ có những cái nhìn nhận tổng quan về một bộ bài Tarot và 
                                        sẽ có thể sử dụng Tarot một các thành thạo để xử lý các vấn đề về tâm lý bản thân mà không muốn tiết lộ với bất kỳ ai. 
                                        Ghi danh ngay tại đây, bộ phận chăm sóc khách hàng sẽ trực tiếp liên hệ với bạn nhé!
                                    </h4>
                                </div>
                            </div>
                            <div class="main-service__register-layout">
                                <form action="" id="registerForm" class="main-service__register-form" method="post">
                                    <input type="text" value="" placeholder="your:address@gmail.com" class="main-service__register-input">
                                    <button type="submit" name="submit" class="main-service__register-btn">JOIN US</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script>

</script>