<main class="main">
    <div class="navsub-header">
        <div class="navsub-header__wrapper">
            <div class="navsub-header__box">
                <div class="grid wide">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="navsub-header__list">
                                <li class="navsub-header__item">
                                    <a href="" class="navsub-header__link">HOME</a>
                                </li>
                                <li class="navsub-header__item">
                                    <a href="" class="navsub-header__link">SHOP</a>
                                </li>
                                <li class="navsub-header__item">
                                    <span class="navsub-header__content">{{title}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="grid wide">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-md-pull-9">
                    <div class="side-bar">
                        <div class="product-search">
                            <h3 class="side__heading">TÌM KIẾM</h3>
                            <div class="product-search__tool">
                                <form action="/product-category/search" method="get" class="product-search__form">
                                    <input type="text" name="search" class="product-search__input" placeholder="Tìm Kiếm Sản Phẩm...">
                                    <button id="searchProduct" type="submit" value="Search" class="product-search__btn">
                                        <i class="fas fa-search product-search__icon"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="price-filter">
                            <h3 class="side__heading">GIÁ</h3>
                            <ul class="price__list">
                                <li class="price__item">
                                    <label for="cheapest">
                                        <input type="radio" name="price-filter" class="price__input" id="cheapest">
                                        <span>Từ 249,000₫ - 500,000₫</span>
                                    </label>
                                </li>
                                <li class="price__item">
                                    <label for="medium">
                                        <input type="radio" name="price-filter" class="price__input" id="medium">
                                        <span>Từ 500,000₫ - 1,000,000₫</span>
                                    </label>
                                </li>
                                <li class="price__item">
                                    <label for="most">
                                        <input type="radio" name="price-filter" class="price__input" id="most">
                                        <span>Lớn hơn 1,000,000₫</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="product-category">
                            <h3 class="side__heading">DANH MỤC SẢN PHẨM</h3>
                            <ul class="product-category__list">
                                <li class="product-category__item">
                                    <a href="" class="product-category__link">18+</a>
                                </li>
                                <li class="product-category__item">
                                    <a href="" class="product-category__link">Lenormand</a>
                                </li>
                                <li class="product-category__item">
                                    <a href="" class="product-category__link">Mini</a>
                                </li>
                                <li class="product-category__item">
                                    <a href="" class="product-category__link">Oracle</a>
                                    <ul class="product-category-child__list">
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Hayhouse</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="product-category__item">
                                    <a href="" class="product-category__link">Phụ kiện</a>
                                </li>
                                <li class="product-category__item">
                                    <a href="" class="product-category__link product-category__visited">Tarot</a>
                                    <ul class="product-category-child__list">
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài cơ bản</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài cổ điển</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài động vật</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài hiếm</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài hiện đại</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài hộp thiếc</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài kỹ thuật số</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài mạ cạnh</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài ma mị</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài nữ tính</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Bài thần tiên</a>
                                        </li>
                                        <li class="product-category-child__item">
                                            <a href="" class="product-category-child__link">Sắp xuất bản</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 col-md-push-3">
                    <div class="product-header__wrapper">
                        <h1 class="product-header__title">
                            {{title}}
                        </h1>
                    </div>
                    <p class="product-header__result"> Showing {{count}} of {{count}} results</p>
                    <form action="get" class="product-header__select-form">
                        <select name="orderby" id="orderby" class="product-header__select-list">
                            <option value="default"  class="product-header__select-option">Thứ tự mặc định</option>
                            <option value="popular" class="product-header__select-option">Sắp xếp phổ biến</option>
                            <option value="rate" class="product-header__select-option">Sắp xếp theo đánh giá</option>
                            <option value="date" class="product-header__select-option">Mới nhất</option>
                            <option value="price-asc" class="product-header__select-option">Giá từ thấp đến cao</option>
                            <option value="price-desc" class="product-header__select-option">Giá từ cao đến thấp</option>
                        </select>
                    </form>
                    <div class="product__wrapper">
                        {{#each products}}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class="product__item">
                                <a href="/detail/{{this.id}}" id="{{this.id}}" class="product__link">
                                    <img src="/image/Product/{{this.image}}" class="product__image" alt="">
                                    <div class="product__information">
                                        <h3 class="product__heading">{{this.name}}</h3>
                                        {{#if this.newprice}}
                                        <div class="product__price has--old">
                                            <p class="product__price--old">
                                                {{this.price}}₫
                                            </p>
                                            <p class="product__price--new">
                                                {{this.newprice}}₫
                                            </p>
                                        </div>
                                        {{else}}
                                        <span class="product__price">
                                            <bdi>{{this.price}}₫</bdi>
                                        </span>
                                        {{/if}}
                                    </div>
                                </a>
                                <div class="product__buttons">
                                    <span class="product__button-text addCart">ADD TO CART</span>
                                    <span class="product__button-text MoreInfo">MORE INFO</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-sm-12 page">
                        <nav> 
                            <ul class="pagination home-product__pagination" id="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>