<div class="card">
  <div class="card-header">
    CẬP NHẬT THÔNG TIN {{title}}
  </div>
  <div class="card-body">
    {{#each category}}
    <form action="/admin/category/edit/{{this.id}}" method="POST">
        <div class="input-group mb-3">
          <label for="name" class="input-group-text" id="basic-addon1">Danh Mục</label>
          <input type="text" id="name" name="name" value="{{this.name}}" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <label for="link" class="input-group-text" id="basic-addon2">Đường Dẫn</label>
          <input type="text" id="link" name="link" value="{{this.link}}" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
        </div>

        {{#if this.child}}
        <div class="input-group mb-3">
          <label for="child" class="input-group-text" id="basic-addon2">Menu Con</label>
          <input type="checkbox" id="child" class="input-group__checkbox" name="child" value="0" placeholder="" aria-label="" aria-describedby="basic-addon2">
        </div>
        {{else}}
        <div class="input-group mb-3">
          <label for="child" class="input-group-text" id="basic-addon2">Menu Con</label>
          <input type="checkbox" checked="checked" id="child" class="input-group__checkbox" name="child" value="0" placeholder="" aria-label="" aria-describedby="basic-addon2">
        </div>
        {{/if}}

        <div class="input-group">
          <button type="submit" class="modal__btn">LƯU LẠI</button>
        </div>
    </form>
    {{/each}}
    <div class="input-group">
        <a href="/admin/category/list" class="modal__btn btnBack">
            QUAY LẠI
        </a>
    </div>
  </div>
</div>